<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark mb-0">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Address</h5>
        <ul class="list-unstyled text-small">
          <li>276A Coetzee Street</li>
          <li>Bohlokong</li>
          <li>Bethlehem</li>
          <li>9702</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact Details</h5>
        <ul class="list-unstyled text-small">
          <li>Contact Number: 058 303 1642</li>
          <li>Fax Number: 058 303 1642</li>
          <li>Email Address: bohlokongps@gmail.com</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Quick Links</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">About Us</a></li>
          <li><a class="text-muted" href="#">Our Staff</a></li>
          <li><a class="text-muted" href="#">Gallery</a></li>
          <li><a class="text-muted" href="#">Calenda</a></li>
          <li><a class="text-muted" href="#">Documents</a></li>
          <li><a class="text-muted" href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Follow Us</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>