<footer class="border-top footer">
  <div class="container footer__container">
    <div class="row footer__row">
      <div class="col-6 col-md">
        <h3 class="footer__heading">Address</h3>
        <ul class="list-unstyled text-small">
          <li>276A Coetzee Street</li>
          <li>Bohlokong</li>
          <li>Bethlehem</li>
          <li>9702</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h3 class="footer__heading">Contact Details</h3>
        <ul class="list-unstyled text-small">
          <li>Contact Number: 058 303 1642</li>
          <li>Fax Number: 058 303 1642</li>
          <li>Email Address: bohlokongps@gmail.com</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h3 class="footer__heading">Quick Links</h3>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Home</a></li>
          <li><a class="text-muted" href="#">About Us</a></li>
          <li><a class="text-muted" href="#">Our Staff</a></li>
          <li><a class="text-muted" href="#">Gallery</a></li>
          <li><a class="text-muted" href="#">Calenda</a></li>
          <li><a class="text-muted" href="#">Documents</a></li>
          <li><a class="text-muted" href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h3 class="footer__heading">Follow Us</h3>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Facebook</a></li>
          <li><a class="text-muted" href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>