<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Bells logo" loading="lazy" width="100">
      Bohlokong P.S
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a 
            class="nav-link <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" 
            href="/"
          >
            Home <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link <%= typeof page !== 'undefined' && page === 'about' ? 'active' : '' %>" 
            href="/about-us"
          >
            About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/staff">Our Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calenda">Calenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/documents">Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>