.header {
	height: 90vh;
	border-radius: 0 !important;
	text-align: center;

	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../images/img/blog-2.jpg);
	background-size: cover;
	background-position: center;

	&__text-box {
		@include absCenter;
	}
}
