.navbar {
	background-color: $color-secondary-dark !important;
	&-brand {
		&__logo {
			height: 5.5rem;
			width: 5.5rem;
		}

		&:link,
		&:visited {
			color: $color-grey-light-1;
			text-decoration: none;
			font-size: 2.4rem;
			margin: 1rem 0;
		}
	}

	&-nav {
		margin-left: auto;
	}
}

.nav {
	&-item {
		&:not(:last-child) {
			margin-right: 1.2rem;
		}
	}

	&-link {
		&:link,
		&:visited {
			color: $color-grey-light-1 !important;
			font-size: 1.5rem;
			text-decoration: none;
			text-transform: uppercase;
			transition: all .2s;
			height: auto;
			border-radius: 3px;
			padding: 1rem;
		}

		&:hover,
		&:active {
			color: $color-grey-light-1 !important;
			background-color: $color-primary !important;
		}
		&__admin-link {
			color: $color-black !important;
		}
	}
}

.active {
	color: $color-grey-light-1;
	background-color: $color-primary;
}
