<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">About Us</h1>
      <p class="lead heading-primary--sub">"Lora, Dumela, Phethahatsa"</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="about-us">
	<div class="container about">
    <h2 class="heading-secondary"><span class="color-green">Bohlokong</span> <span class="color-blue">Primary</span> School</h2>
    
    <div class="about__text-box">
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
    </div>

    <!-- Vision Mission Values Section -->
    <div class="row about__qualities">
      <div class="col-lg-6 about__card">
        <svg class="about__icon">
          <use xlink:href="/images/sprite.svg#icon-eye"></use>
        </svg>
        <h2 class="heading-tertiary">Vision</h2>
        <p class="about__card--text">To empower our learners to acquire, demonstrate, articulate, and value knowledge and skills that will support them, 
          as life long learners, to participate in and contribute to the global world and practice of core values of the School
          which include: Respect, tolerance, and excellence.
        </p>
      </div>
      <div class="col-lg-6 about__card">
        <svg class="about__icon">
          <use xlink:href="/images/sprite.svg#icon-cogs"></use>
        </svg>
        <h2 class="heading-tertiary">Mission</h2>
        <p class="about__card--text">Our statement is <strong>"Dream, Believe, and Achieve"</strong>. We will achieve these by providing a well-tailored
          education package, teach and assess, focusing in the development needs of the learners.
        </p>
      </div>
    </div>
	</div>
</section>