<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">About Us</h1>
      <p class="lead heading-primary--sub">Thuto Ke Lehakwe.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="about-us">
	<div class="container about">
    <h2 class="heading-secondary"><span class="color-green">Bohlokong</span> <span class="color-blue">Primary</span> School</h2>
    
    <div class="about__text-box">
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
      <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius molestiae laboriosam necessitatibus quaerat distinctio, fugiat harum quos vel unde blanditiis. Facere autem facilis officiis amet animi quos voluptatem debitis cum!</p>
    </div>

    <!-- Vision Mission Values Section -->
    <div class="row about__qualities">
      <div class="col-lg-4 about__card">
        <svg class="about__icon">
          <use xlink:href="/images/sprite.svg#icon-eye"></use>
        </svg>
        <h2 class="heading-tertiary">Vision</h2>
        <p class="about__card--text">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div>
      <div class="col-lg-4 about__card">
        <svg class="about__icon">
          <use xlink:href="/images/sprite.svg#icon-cogs"></use>
        </svg>
        <h2 class="heading-tertiary">Mission</h2>
        <p class="about__card--text">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
      <div class="col-lg-4 about__card">
        <svg class="about__icon">
          <use xlink:href="/images/sprite.svg#icon-key"></use>
        </svg>
        <h2 class="heading-tertiary">Values</h2>
        <p class="about__card--text">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
    </div>
	</div>
</section>