<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">School Calendar</h1>
      <p class="lead heading-primary--sub">Download & View Our Yearly Activities Calendar.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="our-calendar">
	<div class="container calendar">
    <h2 class="heading-tertiary">Year Plan <span class="color-green">Calendar</span></h2>
    <div class="calender__container">
      <svg class="calendar__icon">
        <use xlink:href="/images/sprite.svg#icon-date_range"></use>
      </svg>
    </div>
    <a class="btn" href="/documents/calendar.docx" role="button">Download</a>
	</div>
</section>