<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">Contact Us</h1>
      <p class="lead heading-primary--sub">Do You Have A Question? Send Us A Message.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="contact">
	<div class="container contact">
    <div class="row">
      <div class="col-md-6 contact__img-box">
        <img
					src="/images/illustrations/Mailbox-bro.svg"
					class="contact__img"
					alt="Contact us illustration"
					title="Contact us illustration"
					loading="lazy"
				/>
				<a href="https://storyset.com/communication" class="sr-only">Illustration by Freepik Storyset</a>
      </div>

      <div class="col-md-6">
        <form 
          class="contact__form"
          action="/contact"
      		method="POST"
        >
          <div class="form-group">
            <label for="name" class="contact__label">Name</label>
            <input 
              type="text" 
              class="form-control contact__input" 
              id="name"
              name="queryUsername"
              maxlength="30"
						  pattern="[A-Za-z]{2,}"
              title="Name must be a series of alphabetic characters only (min 2, max 30)."
              placeholder="E.g. John"
              autofocus
				      required
            />
          </div>
          <div class="form-group">
            <label class="contact__label" for="email">Email</label>
            <input 
              type="email" 
              name="queryEmail"
              class="form-control contact__input" 
              id="email"
              maxlength="150"
						  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
						  title="Email must follow this pattern: characters@characters.domain (should include '@' sign, '.' followed by atleast 2 characters)."
						  placeholder="you@example.com"
						  required
            />
          </div>
          <div class="form-group">
            <label class="contact__label" for="subject">Subject</label>
            <select 
              id="subject" 
              class="form-control contact__input"
              name="querySubject"
              required
            >
              <option disabled selected>Choose...</option>
              <option>General Enquiry</option>
              <option>Registration</option>
              <option>Complaint</option>
            </select>
          </div>
          <div class="form-group">
            <label class="contact__label" for="message">Message</label>
            <textarea 
              class="form-control contact__textarea" 
              id="message" 
              name="queryMessage"
              maxlength="1000"
						  pattern="[a-zA-Z\s0-9]{10,}"
						  title="Message can be a series of alphabetic and numeric characters only (min 10, max 1000)."
              rows="5"></textarea>
          </div>
          <button type="submit" class="contact__btn">Send Message</button>
        </form>
      </div>
    </div>
	</div>
</section>