<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">School Documents</h1>
      <p class="lead heading-primary--sub">View And Download Available Documents.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="our-calendar">
	<div class="container calendar">
    <div class="row">
      <div class="col-md-4 text-center mb-5">
        <h2 class="heading-tertiary">Application Form</h2>
        <div class="calender__container">
          <svg class="calendar__icon">
            <use xlink:href="/images/sprite.svg#icon-file_copy"></use>
          </svg>
        </div>
        <a class="btn" href="/documents/APPLICATION-FORM.pdf" role="button">Download</a>
      </div>
      <div class="col-md-4 text-center mb-5">
        <h2 class="heading-tertiary">News Letter</h2>
        <div class="calender__container">
          <svg class="calendar__icon">
            <use xlink:href="/images/sprite.svg#icon-file_copy"></use>
          </svg>
        </div>
        <a class="btn" href="/documents/NEWS-LETTER.pdf" role="button">Download</a>
      </div>
      <div class="col-md-4 text-center mb-5">
        <h2 class="heading-tertiary">Timetable</h2>
        <div class="calender__container">
          <svg class="calendar__icon">
            <use xlink:href="/images/sprite.svg#icon-file_copy"></use>
          </svg>
        </div>
        <a class="btn" href="/documents/TIMETABLE.pdf" role="button">Download</a>
      </div>
    </div>
	</div>
</section>