<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">Our Gallery</h1>
      <p class="lead heading-primary--sub">Explore Our Activities.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="our-gallery">
	<div class="container gallery">
    <img 
      src="/images/img/gallery-1.JPG" 
      class="img-fluid img-thumbnail gallery__img" 
      alt="Main Gallery Image"
      title="Main Gallery Image"
      loading="lazy"
    />
    <div class="row">
      <div class="col-sm">
        <img 
          src="/images/img/background.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
      <div class="col-sm">
        <img 
          src="/images/img/gallery-3.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
      <div class="col-sm">
        <img 
          src="/images/img/gallery-4.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        >
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img 
          src="/images/img/gallery-6.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
      <div class="col-sm">
        <img 
          src="/images/img/gallery-7.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <img 
          src="/images/img/gallery-5.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
      <div class="col-sm">
        <img 
          src="/images/img/gallery-2.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        />
      </div>
      <div class="col-sm">
        <img 
          src="/images/img/gallery-10.JPG" 
          class="img-fluid img-thumbnail gallery__img" 
          alt="gallery image"
          title="Gallery image"
          loading="lazy"
        >
      </div>
    </div>
	</div>
</section>