<% layout('layouts/boilerplate') -%>
<!-- Header Section -->
<section id="header">
	<header class="jumbotron text-center">
		<h1 class="display-4">Bohlokong Primary School</h1>
		<p class="lead">Thuto Ke Lehakwe.</p>
		<hr class="my-4">
		<a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us</a>
	</header>
</section>

<!-- Covid Awareness Section -->
<section id="covid-awareness">
	<div class="container">
		<div class="covid-container">
			<h2>Covid-19 Awareness</h2>

			<div class="covid-container covid-container--img">

			</div>

			<div class="covid-container covid-container--text">

			</div>
		</div>
	</div>
</section>

<!-- School Qualities -->
<section id="school-qualities">
	<div class="container qualities-container">
		<h2>School Qualities</h2>
		<div class="qualities-container qualities-container--one">
			<div class="qualities-container img">

			</div>
			<div class="qualities-container text">
				
			</div>
		</div>

		<div class="qualities-container qualities-container--two">
			<div class="qualities-container img">

			</div>
			<div class="qualities-container text">
				
			</div>
		</div>
	</div>
</section>

<!-- Latest News -->
<section id="latest-news">
	<div class="container">
		
	</div>
</section>

<script>
	const posts = { features:  JSON.stringify(posts)  };
</script>
