<% layout('layouts/boilerplate') -%>
<!-- Header Section -->
<section id="header">
	<header class="jumbotron text-center header">
		<h1 class="display-4 heading-primary">Bohlokong Primary School</h1>
		<p class="lead heading-primary--sub">Thuto Ke Lehakwe.</p>
		<hr class="my-4 horizontal-line">
		<a class="btn btn-primary btn-lg button-one" href="/contact" role="button">Contact Us</a>
	</header>
</section>

<!-- Covid Awareness Section -->
<section id="covid-awareness">
	<div class="container covid">
		<h2 class="heading-secondary">Covid-19 Awareness</h2>

		<div class="covid__container">
			<div class="covid__img-box">

			</div>

			<div class="covid__text-box">

			</div>
		</div>
	</div>
</section>

<!-- School Qualities -->
<section id="school-qualities">
	<div class="container qualities">
		<h2 class="heading-secondary">School Qualities</h2>
		<div class="qualities__container--one">
			<div class="qualities__img">

			</div>
			<div class="qualities__text">
				
			</div>
		</div>

		<div class="qualities__container--two">
			<div class="qualities__img">

			</div>
			<div class="qualities__text">
				
			</div>
		</div>
	</div>
</section>

<!-- Latest News -->
<section id="latest-news">
	<div class="container news">
		<h2 class="heading-secondary">Latest News</h2>
		<div class="news__container">
			<div class="news__blog-post">

			</div>
			<div class="news__blog-post">

			</div>
			<div class="news__blog-post">

			</div>
		</div>
	</div>
</section>

<script>
	const posts = { features:  JSON.stringify(posts)  };
</script>
