<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">Our Staff Members</h1>
      <p class="lead heading-primary--sub">Meet The Team.</p>
    </div>
  </div>
</div>

<!-- About Us Section -->
<section id="our-staff">
	<div class="container staff">
    <!-- Head Master Card -->
    <div class="row justify-content-center staff__head--container">
      <div class="col-md-4 col-6 staff__head--column">
        <div class="card text-center staff__card" style="width: auto;">
          <img 
            src="/images/logo.png" 
            class="card-img-top staff__card--image" 
            alt="Head Master Image"
            title="Head Master Image"
            loading="lazy"
          />
          <div class="card-body">
            <h2 class="card-title heading-tertiary staff__card--title">Mr Principal</h2>
            <p class="card-text staff__card--text">Principal</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Staff Members Cards -->
    <div class="row">
      <div class="col-sm col-6 d-flex justify-content-center">
        <div class="card text-center staff__card" style="width: 100%;">
          <img 
            src="/images/logo.png" 
            class="card-img-top staff__card--image" 
            alt="Head Master Image"
            title="Head Master Image"
            loading="lazy"
          />
          <div class="card-body">
            <h2 class="card-title heading-tertiary staff__card--title">Mrs Administrator</h2>
            <p class="card-text staff__card--text">Administrator</p>
          </div>
        </div>
      </div>
      <div class="col-sm col-6 d-flex justify-content-center">
        <div class="card text-center staff__card" style="width: 100%;">
          <img 
            src="/images/logo.png" 
            class="card-img-top staff__card--image" 
            alt="Head Master Image"
            title="Head Master Image"
            loading="lazy"
          />
          <div class="card-body">
            <h2 class="card-title heading-tertiary staff__card--title">Mrs Clark</h2>
            <p class="card-text staff__card--text">Clark</p>
          </div>
        </div>
      </div>
      <div class="col-sm col-6 d-flex justify-content-center">
        <div class="card text-center staff__card" style="width: 100%;">
          <img 
            src="/images/logo.png" 
            class="card-img-top staff__card--image" 
            alt="Head Master Image"
            title="Head Master Image"
            loading="lazy"
          />
          <div class="card-body">
            <h2 class="card-title heading-tertiary staff__card--title">Mr Teacher</h2>
            <p class="card-text staff__card--text">Teacher</p>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>