<% layout('layouts/boilerplate') -%>
<div class="jumbotron jumbotron-fluid page__header">
  <div class="container">
    <div class="page__header--text-box">
      <h1 class="display-4 heading-primary page__header--heading color-light">Admin Sign In</h1>
      <p class="lead heading-primary--sub">Sign In To Perform Admin Tasks.</p>
    </div>
  </div>
</div>

<section id="signin">
	<div class="container contact">
		<div class="row">
			<div class="col-md-8 offset-2">
				<form action="/users/signin" method="POST" class="contact__form">
					<div class="form-group">
						<label class="contact__label" for="username">Username</label>
						<input type="text" id="username" class="form-control contact__input" name="username" placeholder="username" required>
					</div>
					<div class="form-group">
						<label class="contact__label" for="password">Password</label>
						<input type="password" id="password" class="form-control contact__input" name="password" placeholder="password" required>
					</div>
					<div class="form-group">
						<button type="submit" class="contact__btn">Submit</button>
					</div>
				</form>
				
				<div class="form-group mt-4">
					<a href="/forgot-password">Forgot password?</a>
				</div>
			</div>
		</div>
	</div>
</section>

