*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #006630;
  color: #f7f7f7; }

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-size: 1.6rem !important;
  line-height: 1.7;
  color: #777777; }

.heading-primary {
  font-size: 5rem !important;
  color: #eeeeee;
  font-weight: 700 !important;
  margin-bottom: 2rem; }
  .heading-primary--sub {
    font-size: 2.5rem !important;
    color: #010365;
    font-weight: 500 !important; }
  .heading-primary--line {
    color: #006630; }

.header {
  height: 85vh;
  border-radius: 0 !important;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(0, 102, 48, 0.8), rgba(0, 51, 24, 0.8)), url(../images/img/blog-2.jpg);
  background-size: cover;
  background-position: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 90%, 75% 100%, 0 90%);
      height: 85vh; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navbar {
  background-color: #010365;
  height: 8rem; }
  .navbar-brand:link, .navbar-brand:visited {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 2.4rem; }
  .navbar-nav {
    margin-left: auto; }

.nav-item:not(:last-child) {
  margin-right: 1.2rem; }

.nav-link:link, .nav-link:visited {
  color: #f7f7f7;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  height: auto;
  border-radius: 3px;
  padding: 1rem; }

.nav-link:hover, .nav-link:active {
  color: #f7f7f7 !important;
  background-color: #006630 !important; }

.active {
  color: #f7f7f7;
  background-color: #006630; }

.btn {
  /* * click-state */ }
  .btn, .btn:link, .btn:visited {
    background-color: #0204e1;
    color: #f7f7f7;
    padding: 1.5rem 4rem;
    transition: all .2s;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: #010365;
    color: #f7f7f7 !important; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
