.covid {
	margin: 8rem 0 8rem;

	background-image: url(../images/background-2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	&__img-box {
		@include flexCenter;
	}

	&__img {
		width: 70%;
	}

	&__text-box {
		@include flexCenter;
		@media only screen and (max-width: $bp-medium) {
			text-align: center;
		}
	}

	&__more-info {
		text-align: center;
		margin-top: 4rem;
	}
}

#school-qualities {
	background-color: rgba($color-secondary-light, .4);
	padding: 8rem 0 8rem;

	@media only screen and (max-width: $bp-medium) {
		padding: 14rem 0 14rem;
	}

	@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
		-webkit-clip-path: polygon(
			25% 0%,
			100% 10%,
			100% 90%,
			75% 100%,
			0 90%,
			0 10%
		);
		clip-path: polygon(25% 0%, 100% 10%, 100% 90%, 75% 100%, 0 90%, 0 10%);
	}
	@media only screen and (max-width: $bp-medium) {
		-webkit-clip-path: polygon(
			25% 0%,
			100% 5%,
			100% 95%,
			75% 100%,
			0 95%,
			0 5%
		);
		clip-path: polygon(25% 0%, 100% 5%, 100% 95%, 75% 100%, 0 95%, 0 5%);
	}
}
.qualities {
	&__container--one {
		margin-bottom: 10rem;
	}
	&__img-box {
		@include flexCenter;
	}
	&__img {
		width: 70%;
	}
	&__text-box {
		@include flexCenter;
		@media only screen and (max-width: $bp-medium) {
			text-align: center;
		}
	}
	&__text {
		font-size: 2rem;
	}
}
.news {
	margin: 8rem 0 8rem;
}
