// * COLORS
$color-priamry: #006630;
$color-primary-light: #009947;
$color-primary-dark: #003318;

$color-secondary: #0204e1;
$color-secondary-light: #3538fd;
$color-secondary-dark: #010365;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;

$color-grey-dark: #777777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;

//! FONT-FAMILY
$primary-font-family: 'Montserrat', sans-serif !important;
$secondary-font-family: 'RocknRoll One', sans-serif !important;

//! FONT-SIZES
$default-font-size: 1.6rem;
